<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="holdMain">
		
	
        <div class="container">
            <div class="row">
                <div class="col-sm-6 box">
                    <h3>Score Keeper</h3>
                        <hr>
                        <form action="http://localhost:8080/games/hoangan" method="POST">
                              <div class="form-group">
                                
                                <input type="text" class="form-control"name="player1" id="player1"  placeholder="Player1.." required>
                                
                              </div>
                              <div class="form-group">
                                   <input type="text" class="form-control" name="player2" id="player2"  placeholder="Player2.." required>
                              </div>
                              <div class="form-group ">
                                 <input type="text" class="form-control" name="player3" id="player3"  placeholder="Player3.." required>
                              </div>
                                <div class="form-group ">
                                 <input type="text" class="form-control" name="player4" id="player4"  placeholder="Player4.." required> 
                              </div>
                              <div class="row">
                                  <div class="col-sm-6 push-sm-4">
                                       <input type="submit" class="btn btn-danger btn-block nutBam" value="Create New Game">
                                  </div>
                              </div>
                            
                        </form>
                </div>
            </div>
            
        </div>
        </div>
</body>

</html>